<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="col">
            {{#each trendingData}}
            <div class=" latestdiv">     
                <div class=" card-sm p-1 iatestcont">
                    <a href="/trending/{{_id}}">
                        <div class="row "> 
                            <div class="row ">
                             <img src="{{image}}" alt="" class="col img-fluid float-start" style="width:300px;">
                                <h5 class="col card-title">{{header}}</h5>
                            </div>

                            <p class="my-2 card-text">
                                <span style="background-color:green;color:wheat;padding:.2rem;" class="my-2">{{category}}</span><br>{{date}}
                            </p>
                        </div>
                    </a>
                </div>
        </div>
        {{/each}}
        <div class="col">{{>latest}}</div>
    </div>
   
</body>
</html>